/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-0.5rem) translate(-50%, -50%); }
  60% {
    transform: translate(0) translate(-50%, -50%); }
  100% {
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-1rem) translate(-50%, -50%); }
  80% {
    transform: translate(0.5rem) translate(-50%, -50%); }
  100% {
    opacity: 1;
    transform: translate(0) translate(-50%, -50%); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  background-color: #592b8e; }

.heading-primary {
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden; }
  .heading-primary-main {
    font-size: 15rem;
    display: block;
    letter-spacing: 3rem;
    margin-right: -3rem;
    font-weight: 900;
    opacity: 0;
    text-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
    animation-fill-mode: forwards;
    animation-name: moveInBottom;
    animation-duration: .6s;
    animation-timing-function: ease-out; }
  .heading-primary-sub {
    margin-top: -2rem;
    font-size: 3rem;
    display: block;
    letter-spacing: .66rem;
    margin-right: -.66rem;
    font-weight: 700;
    opacity: 0;
    text-shadow: 0.15rem 0.3rem 0.8rem rgba(0, 0, 0, 0.3);
    animation-fill-mode: forwards;
    animation-name: moveInRight;
    animation-duration: .6s;
    animation-timing-function: ease-in-out;
    animation-delay: .6s; }

.heading-secondary {
  text-align: center;
  backface-visibility: hidden;
  font-size: 6rem;
  font-weight: 900;
  text-shadow: 0.15rem 0.3rem 0.8rem rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(to right, rgba(89, 43, 142, 0.9), rgba(147, 43, 219, 0.8));
  -webkit-background-clip: text;
  color: transparent; }

.u-margin-small-bottom {
  margin-bottom: 3rem; }

.u-margin-medium-bottom {
  margin-bottom: 5rem; }

.u-margin-large-bottom {
  margin-bottom: 7rem; }

.u-margin-xlarge-bottom {
  margin-bottom: 14rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0.4rem 1rem 2rem rgba(0, 0, 0, 0.5); }

.btn--register-beta {
  font-size: 3rem;
  background-color: #fff;
  backface-visibility: hidden;
  outline: none;
  padding: 1rem 4.5rem;
  color: #932bdb;
  position: absolute;
  top: -webkit-calc(45% + 17rem);
  top: -moz-calc(45% + 17rem);
  top: calc(45% + 17rem);
  left: 50%;
  transform: translate(-50%, -50%) skewX(-20deg);
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-delay: 1.8s;
  animation-duration: 1s;
  transition: all .3s; }
  @media only screen and (max-width: 75em) {
    .btn--register-beta {
      font-size: 3.5rem;
      padding: 2.5rem 12rem;
      top: -webkit-calc(45% + 25rem);
      top: -moz-calc(45% + 25rem);
      top: calc(45% + 25rem); } }
  @media only screen and (min-width: 112.5em) {
    .btn--register-beta {
      font-size: 3.5rem;
      padding: 2.5rem 9rem;
      top: -webkit-calc(45% + 25rem);
      top: -moz-calc(45% + 25rem);
      top: calc(45% + 25rem); } }
  .btn--register-beta-span {
    display: block;
    transform: skewX(20deg); }
  .btn--register-beta:hover {
    transform: translate(-50%, -50%) translateY(-0.8rem) skewX(-20deg) scale(1.03);
    box-shadow: 0.6rem 1.5rem 3rem rgba(0, 0, 0, 0.5); }
  .btn--register-beta:active {
    transform: translate(-50%, -50%) translateY(-0.4rem) skewX(-20deg) scale(1.03);
    box-shadow: 0.45rem 1.1rem 2.25rem rgba(0, 0, 0, 0.5); }

.btn--white {
  background-color: #fff; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem; }
  .card__side {
    height: 40rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.3); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right, rgba(89, 43, 142, 0.9), rgba(147, 43, 219, 0.8)); }
      .card__side--back-2 {
        background-image: linear-gradient(to right, rgba(89, 43, 142, 0.9), rgba(147, 43, 219, 0.8)); }
      .card__side--back-3 {
        background-image: linear-gradient(to right, rgba(89, 43, 142, 0.9), rgba(147, 43, 219, 0.8)); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, to right bottom, yellow, red); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, to right bottom, yellow, red); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, to right bottom, yellow, red); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 0, 0.85), rgba(255, 0, 0, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 0, 0.85), rgba(255, 0, 0, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 0, 0.85), rgba(255, 0, 0, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid grey; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -4rem; }
    .composition__photo--p2 {
      right: 0;
      top: 0rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 8rem; }
    .composition__photo:hover {
      outline: 1rem solid #932bdb;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

i {
  margin-left: 0.5em; }

.icons-effect {
  transition: all .2s; }
  .icons-effect:hover {
    transform: scale(1.1); }

.fab {
  color: #fff; }
  @media only screen and (max-width: 75em) {
    .fab {
      font-size: 8rem; } }
  @media only screen and (min-width: 112.5em) {
    .fab {
      font-size: 7rem; } }

.fa-chevron-circle-up {
  color: #932bdb;
  padding: -5rem;
  transition: all .3s ease-out; }
  .fa-chevron-circle-up:hover {
    transform: translateY(-1rem) scale(1.05); }
  .fa-chevron-circle-up:active {
    transform: translateY(-0.6rem) scale(1.03); }

.scrollToTop {
  position: fixed;
  display: none;
  bottom: 16rem;
  right: 2%;
  font-size: 1.5rem; }
  @media only screen and (max-width: 75em) {
    .scrollToTop {
      bottom: 20rem;
      right: 3%;
      font-size: 2rem; } }

.bind-logo--main {
  position: absolute;
  height: 14rem;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-fill-mode: forwards;
  animation-name: moveInBottom;
  animation-duration: 2s;
  animation-timing-function: ease; }
  @media only screen and (max-width: 75em) {
    .bind-logo--main {
      height: 21rem; } }
  @media only screen and (min-width: 112.5em) {
    .bind-logo--main {
      height: 18rem; } }

.bind-logo--sub {
  position: absolute;
  height: 4rem;
  top: -webkit-calc(45% + 9.5rem);
  top: -moz-calc(45% + 9.5rem);
  top: calc(45% + 9.5rem);
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  animation-fill-mode: forwards;
  animation-name: moveInRight;
  animation-delay: 1.2s;
  animation-duration: .6s;
  animation-timing-function: ease-in-out; }
  @media only screen and (max-width: 75em) {
    .bind-logo--sub {
      height: 6rem;
      top: -webkit-calc(45% + 14em);
      top: -moz-calc(45% + 14em);
      top: calc(45% + 14rem); } }
  @media only screen and (min-width: 112.5em) {
    .bind-logo--sub {
      height: 5.14rem;
      top: -webkit-calc(45% + 14em);
      top: -moz-calc(45% + 14em);
      top: calc(45% + 14rem); } }

.card {
  color: #fff;
  background-color: #fff;
  border-radius: 5%;
  border-color: #fff;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  height: 70%;
  width: 50%;
  position: fixed;
  top: 10%;
  left: 25%; }

.section--footer {
  font-size: 2rem;
  position: relative;
  background-image: linear-gradient(to right, rgba(89, 43, 142, 0.9), rgba(147, 43, 219, 0.8));
  color: #fff;
  padding-top: 6rem;
  height: 12rem; }
  .section--footer h3 {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%); }
  @media only screen and (max-width: 75em) {
    .section--footer {
      height: 16rem;
      font-size: 4rem; } }
  @media only screen and (min-width: 112.5em) {
    .section--footer {
      font-size: 3rem; } }

div.icons {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  background-image: linear-gradient(to bottom, rgba(89, 43, 142, 0.9), rgba(147, 43, 219, 0.8)), url(../img/bind_app.jpg);
  background-size: cover;
  background-position: top;
  height: 100vh;
  position: relative;
  font-size: 3rem; }

.section--about {
  position: relative;
  color: #932bdb;
  padding-top: 5rem;
  height: 100vh;
  background-color: #eee; }
