// COLORS
$color-black: #000;

$color-blue-dark: #42107c;

$color-purple: #551a8b;
$color-purple-light-1: #ac4ce8;
$color-purple-light-2: #9218db;
$color-purple-dark-1: #250233;
$color-purple-dark-2: #2d043c;

$color-bind-mono-1: #40007F;
$color-bind-mono-2: #53267F;
$color-bind-mono-3: #6600CC;
$color-bind-mono-4: #7F00FF;
$color-bind-mono-5: #A54CFF;

$color-white: #fff;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
