.card {
  color: $color-white;
  background-color: $color-white;
  border-radius: 5%;
  border-color: $color-white;
  box-shadow: 0.5rem 0.5rem 1rem rgba($color-black, 0.5);
  height: 70%;
  width: 50%;
  position: fixed;
  top: 10%;
  left: 25%;
}
