.icon--youtube {
	background: url('../img/social-media.png') no-repeat -76px -133px;
	width: 42px;
	height: 30px;
  display: inline-block;

}

.icon--facebook {
	background: url('../img/social-media.png') no-repeat -89px -77px;
	width: 18px;
	height: 38px;
  display: inline-block;
}

.icon--twitter {
	background: url('../img/social-media.png') -86px -25px;
	width: 28px;
	height: 36px;
  display: inline-block;
}

.section--footer h3 {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translateY(-50%);
}

div.icons {
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 5%;
	transform: translateY(-50%);
}

div.icons span {
	margin-left: 1em;
}
