.header {
  background-image:
  linear-gradient(to bottom,
  rgba($color-purple-dark, .9),
  rgba($color-purple, .8)),
  url(../img/bind_app.jpg);

  background-size: cover;
  background-position: top;
  height: 100vh;

  position: relative;
  font-size: 3rem;

  &__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
    text-align: center;
  }
}
