.header {
  background-image:
  linear-gradient(to bottom,
  rgba($color-purple-dark, .9),
  rgba($color-purple, .8)),
  url(../img/bind_app.jpg);

  background-size: cover;
  background-position: top;
  height: 100vh;

  position: relative;
  font-size: 3rem;
}
