.btn {

  &,
  &:link,
  &:visited {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }

  &--register-beta {
    font-size: 3rem;
    background-color: $color-white;
    backface-visibility: hidden;
    outline: none;
    padding: 1rem 4.5rem;
    color: $color-purple;
    box-shadow: .4rem 1rem 2rem rgba($color-black, .5);

    position: absolute;
    top: -webkit-calc(#{$logo-percent-top} + 17rem);
    top:    -moz-calc(#{$logo-percent-top} + 17rem);
    top:         calc(#{$logo-percent-top} + 17rem);
    left: 50%;

    transform: translate(-50%, -50%) skewX(-20deg);
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fadeIn;
    animation-delay: 1.8s;
    animation-duration: 1s;

    transition: all .3s;

    @include respond(tab-land) {
      font-size: 3.5rem;
      padding: 2.5rem 12rem;
      top: -webkit-calc(#{$logo-percent-top} + 25rem);
      top:    -moz-calc(#{$logo-percent-top} + 25rem);
      top:         calc(#{$logo-percent-top} + 25rem);
    }

    @include respond(big-desktop) {
      font-size: 3.5rem;
      padding: 2.5rem 9rem;
      top: -webkit-calc(#{$logo-percent-top} + 25rem);
      top:    -moz-calc(#{$logo-percent-top} + 25rem);
      top:         calc(#{$logo-percent-top} + 25rem);
    }

    &-span { // Para que o texto não fique torto
      display: block;
      transform: skewX(20deg);
    }

    &:hover {
      transform: translate(-50%, -50%) translateY(-.8rem) skewX(-20deg) scale(1.03);
      box-shadow: .6rem 1.5rem 3rem rgba($color-black, .5);
    }

    &:active {
      transform: translate(-50%, -50%) translateY(-.4rem) skewX(-20deg) scale(1.03);
      box-shadow: .45rem 1.1rem 2.25rem rgba($color-black, .5);
    }
  }

  &--research {
    // background-color: rgba($color-purple, .4);
    backface-visibility: hidden;
    outline: none;
    padding: .6rem 5rem;
    color: $color-gray-darker;
    box-shadow: .6rem .6rem 0 black, .6rem .6rem 2rem black;
    margin: -.5rem 0 0 12rem;

    transform: skewX(-15deg);

    &-span {
      font-size: 2.2rem;
      transform: skewX(15deg);
      font-weight: 600;
    }
  }

  &--white {
    background-color: $color-white;
  }
}

.btn-radio {

  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
  margin-left: 3rem;

  & input {
    display: none;

    &:checked + svg path {
      transition: all 0.4s ease;
    }

    &:checked + svg path.inner {
      stroke-dashoffset: 38;
      transition-delay: 0.3s;
    }

    &:checked + svg path.outer {
      stroke-dashoffset: 0;
    }
  }

  & svg {
    fill: none;
    vertical-align: middle;

    & circle {
      stroke-width: 2;
      stroke: #C8CCD4;
    }

    & path {
      stroke: #932bdb;

      &.inner {
        stroke-width: 6;
        stroke-dasharray: 19;
        stroke-dashoffset: 19;
      }

      &.outer {
        stroke-width: 2;
        stroke-dasharray: 57;
        stroke-dashoffset: 57;
      }
    }
  }
}
