.btn {

  &,
  &:link,
  &:visited {
    text-decoration: none;
    display: inline-block;
    // font-size: 3rem;
    cursor: pointer;
    box-shadow: .4rem 1rem 2rem rgba($color-black, .5);
  }

  &--register-beta {
    font-size: 3rem;
    background-color: $color-white;
    backface-visibility: hidden;
    outline: none;
    padding: 1rem 4.5rem;
    color: $color-purple;

    position: absolute;
    top: -webkit-calc(#{$logo-percent-top} + 17rem);
    top:    -moz-calc(#{$logo-percent-top} + 17rem);
    top:         calc(#{$logo-percent-top} + 17rem);
    left: 50%;

    transform: translate(-50%, -50%) skewX(-20deg);
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fadeIn;
    animation-delay: 1.8s;
    animation-duration: 1s;

    transition: all .3s;

    @include respond(tab-land) {
      font-size: 3.5rem;
      padding: 2.5rem 12rem;
      top: -webkit-calc(#{$logo-percent-top} + 25rem);
      top:    -moz-calc(#{$logo-percent-top} + 25rem);
      top:         calc(#{$logo-percent-top} + 25rem);
    }

    @include respond(big-desktop) {
      font-size: 3.5rem;
      padding: 2.5rem 9rem;
      top: -webkit-calc(#{$logo-percent-top} + 25rem);
      top:    -moz-calc(#{$logo-percent-top} + 25rem);
      top:         calc(#{$logo-percent-top} + 25rem);
    }

    &-span { // Para que o texto não fique torto
      display: block;
      transform: skewX(20deg);
    }

    &:hover {
      transform: translate(-50%, -50%) translateY(-.8rem) skewX(-20deg) scale(1.03);
      box-shadow: .6rem 1.5rem 3rem rgba($color-black, .5);
    }

    &:active {
      transform: translate(-50%, -50%) translateY(-.4rem) skewX(-20deg) scale(1.03);
      box-shadow: .45rem 1.1rem 2.25rem rgba($color-black, .5);
    }
  }

  &--white {
    background-color: $color-white;
  }
}
