.card {
  height: 100%;
  background-color: $color-white;
  border-radius: 7%;
  box-shadow: 2rem 2rem 3rem rgba($color-black, .6);
  border: .2rem solid rgba($color-gray-darker, .9);

  &__question {
    color: $color-gray-darker;
    padding: 3rem 1.5rem 2rem 1.5rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 900;
    text-shadow: .03rem .03rem 0 $color-gray-darker;
  }

  &__list {

  }

  &__alternatives {
    list-style-type: none;
    font-size: 1.8rem;

    &:last-child {
      margin-top: -.5rem;
      text-align: center;
    }

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}

.answer{

  &__option {
    color: $color-gray-darker;
    display: inline-block;
    font-weight: 900;
    font-size: 2.6rem;
    margin-left: 1.8rem;
    text-shadow: .03rem .03rem 0 $color-gray-darker;
  }

  &__description {
    color: $color-gray-darker;
    font-weight: 500;
    font-size: 1.5rem;
    margin-left: 5.3rem;
  }
}
