i {
	margin-left: 0.5em;
}

.icons {
	&-effect {
		transition: all .2s;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.fab {
	color: $color-white;
}

.fa-chevron-circle-up {
  color: $color-purple;
	border-radius: 50%;
	transition: all .3s ease-out;

	&:hover {
		transform: translateY(-1rem);
	  box-shadow: .2rem .5rem 1rem rgba($color-black, .4);
	}

	&:active {
		transform: translateY(-.6rem);
	  box-shadow: .2rem .4rem .8rem rgba($color-black, .3);
	}
}

#home-btn {
  display: none;
	position: fixed;
	bottom: 24rem;
	right: 2%;
	z-index: 666;
	font-size: 5rem;
}
