i {
	margin-left: 0.5em;
}

.fab {
	color: $color-white;
}

.fa-chevron-circle-up {
  color: $color-purple;
}

.fa-chevron-circle-up:hover {
  transform: translateY(0.2rem) scale(1.02);
  box-shadow: .2rem .5rem 1rem rgba($color-black, .5);
  border-radius: 50%;
  border-color: $color-purple;
}

#home-btn {
  display: none;
	position: fixed;
	bottom: 22%;
	right: 2%;
	z-index: 666;
}
