i {
	margin-left: 0.5em;
}

.icons {
	&-effect {
		transition: all .2s;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.fab {
	color: $color-white;

	@include respond(tab-land) {
		font-size: 8rem;
	}

	@include respond(big-desktop) {
		font-size: 7rem;
	}
}

.fa-chevron-circle-up {
  color: $color-purple;
	padding: -5rem;
	transition: all .3s ease-out;

	&:hover {
		transform: translateY(-1rem) scale(1.05);
	}

	&:active {
		transform: translateY(-.6rem) scale(1.03);
	}
}

.scrollToTop {
	position: fixed;
	display: none;
	bottom: 24rem;
	right: 2%;
	font-size: 1.5rem;

	@include respond(tab-land) {
		right: 3%;
		font-size: 2rem;
	}
}
