.bind-logo {


  &--main {
    position: absolute;
    height: 14rem;
    top: $logo-percent-top;
    left: 50%;
    transform: translate(-50%, -50%);

    animation-fill-mode: forwards;
    animation-name: moveInBottom;
    animation-duration: 2s;
    animation-timing-function: ease;

    @include respond(tab-land) {
      height: 21rem;
    }

    @include respond(big-desktop) {
      height: 18rem;
    }
  }

  &--sub {
    position: absolute;
    height: 4rem;
    top: -webkit-calc(#{$logo-percent-top} + 9.5rem);
    top:    -moz-calc(#{$logo-percent-top} + 9.5rem);
    top:         calc(#{$logo-percent-top} + 9.5rem);
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);

    animation-fill-mode: forwards;
    animation-name: moveInRight;
    animation-delay: 1.2s;
    animation-duration: .6s;
    animation-timing-function: ease-in-out;

    @include respond(tab-land) {
      height: 6rem;
      top: -webkit-calc(#{$logo-percent-top} + 14em);
      top:    -moz-calc(#{$logo-percent-top} + 14em);
      top:         calc(#{$logo-percent-top} + 14rem);
    }

    @include respond(big-desktop) {
  		height: 5.14rem;
      top: -webkit-calc(#{$logo-percent-top} + 14em);
      top:    -moz-calc(#{$logo-percent-top} + 14em);
      top:         calc(#{$logo-percent-top} + 14rem);
  	}
  }
}
