.u-margin-small-bottom {
  margin-bottom: 3rem;
}

.u-margin-small-left {
  margin-left: 3rem;
}

.u-margin-medium-bottom {
  margin-bottom: 5rem;
}

.u-margin-large-bottom {
  margin-bottom: 7rem;
}

.u-margin-xlarge-bottom {
  margin-bottom: 14rem;
}

.u-padding-small-top {
  padding-top: 3rem;
}

.u-padding-small-bottom {
  padding-bottom: 3rem;
}


.u-padding-medium-top {
  padding-top: 5rem;
}
