.section-about {

  position: relative;
  color: $color-purple;
  padding-top: 5rem;
  height: 100vh;

  // background-image: linear-gradient(
  // rgba($color-purple-light-2, .8),
  // rgba($color-blue-dark, .9),
}

.section-footer {

  position: relative;
  background-image: linear-gradient(to right,
  rgba($color-purple-dark, .9),
  rgba($color-purple, .8));
  color: $color-white;
  padding-top: 5rem;
  height: 20vh;

}
