.section-about {

  position: relative;
  color: $color-purple;
  padding-top: 5rem;
  height: 100vh;
  background-color: $color-white-darker;

  &--text {
    padding-top: 2rem;
    text-align: justify;
    font-size: 2.1rem;
    text-shadow: .15rem .3rem 2rem rgba($color-black, .3);
  }
}
